{% extends 'base.html' %}
 
{% block container %}
  <h1>NP-IAAS-WEB</h1>
  {% if current_user.is_authenticated %}
    <h3>Greetings {{ current_user.username }}</h3>
    <a class="btn btn-primary" href="{{ url_for('vmoperations.vmlist') }}">VM List</a>
    <a class="btn btn-warning" href="{{ url_for('vmoperations.vmrestart') }}">Restart VM</a>
    <a class="btn btn-warning" href="{{ url_for('vmoperations.vmdelete') }}">Delete VM</a>
    <br /><br />
    <a class="btn btn-danger" href="{{ url_for('auth.logout') }}">Logout</a>
  {% else %}
  <a class="btn btn-primary" href="{{ url_for('auth.login') }}">Log in with Active Directory</a>
  {% endif %}
{% endblock %}